---
---
{{ reference }}

{% if entry.url_download %}
  <a href="{{ entry.url_download }}" title='Download URL'>
    <img src='{{ site.url }}/icons/url.png' alt="[URL]"/>
  </a>
{% endif %}

<a href="{{link}}" title='Download PDF'>
  <img src='{{ site.url }}/icons/pdf.png' alt="[PDF]"/>
</a>

<a href="javascript:togglediv('{{key}}-bibtex')" title='View BibTex'>
  <img src='{{ site.url }}/icons/bibtex.png' alt="[BibTex]"/>
</a>

<div id="{{key}}-bibtex" style="display:none;">
  <pre><code>{{entry.bibtex}}</code></pre>
</div>

